.swiper {
  @media screen and (min-width: 1024px) {
    margin-left: 480px;
    padding-left: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 517px;
  }
}

.swiper-slide {
  width: 315px;
  height: 401px;
  border-radius: 16px;
  overflow: hidden;
  @media screen and (min-width: 1024px) {
    width: 260px;
    height: 331px;
  }
}

.certificateSlider .swiper-slide {
  width: 315px;
  height: 240px;
  border-radius: 12px;
  overflow: hidden;
  @media screen and (min-width: 1024px) {
    width: 428px;
    height: 327px;
  }
  @media screen and (min-width: 1512px) {
    width: 538px;
    height: 411px;
  }
}

.certificateSlider.swiper {
  @media screen and (min-width: 1024px) {
    margin-left: 0px;
    padding-left: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  transition: filter 300ms ease-out;
  @media screen and (min-width: 1024px) {
    width: 80px;
    height: 80px;
    top: calc(50% - 10px);
  }
  border-radius: 100%;
  background: linear-gradient(94.6deg, #f31260 3.73%, #b39e00 142.88%);
}

.swiper-button-next:active,
.swiper-button-prev:active,
.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible,
.swiper-button-next:hover,
.swiper-button-prev:hover {
  filter: brightness(1.4);
}

.swiper-button-prev::after {
  content: "" !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/images/icons/arrowLeftMob.svg");
  @media screen and (min-width: 1024px) {
    background-image: url("/images/icons/arrowLeft.svg");
  }
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next::after {
  content: "" !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/images/icons/arrowRightMob.svg");
  @media screen and (min-width: 1024px) {
    background-image: url("/images/icons/arrowRight.svg");
  }
  background-position: center;
  background-repeat: no-repeat;
}
